<div class="error">
    <div class="error__code">{{code}}</div>
    <div class="error__name">{{text}}</div>
    <div class="error__back">{{> Link href="#" class="error__link" data-page="chatList" text="Назад к чатам"}}</div>
</div>