<div class="chatlist">
    <div class="chatlist__catalog catalog">
        <div class="catalog__functions">
            <button class="catalog__button">Новый чат</button>
            <button class="catalog__button">Профиль</button>
        </div>
        <div class="catalog__search">
            <input class="catalog__input" placeholder="Поиск">
        </div>
        <div class="catalog__list">
            {{> Chat name="Имя" content="Содержимое" time="10:00" indicator="1"}}
        </div>
    </div>
    <div class="chatlist__chat chat">
        <div class="chat__top">
            <div class="chat__info">
                <div class="chat__avatar"></div>
                <div class="chat__name">Дмитрий</div>
            </div>
            <button class="chat__functions">
                <div class="chat__dot"></div>
                <div class="chat__dot"></div>
                <div class="chat__dot"></div>
            </button>
        </div>
        <div class="chat__content">
            <div class="chat__date">19 июня</div>
            {{> Message content="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
                time="10:00" my=""}}
            {{> Message content="Круто!" time="10:00" my="1"}}
        </div>
        <div class="chat__bottom">
            <input class="catalog__input" placeholder="Сообщение">
            <button class="catalog__send">→</button>
        </div>
    </div>
</div>
{{> Header}}